* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  height: 2000px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}